@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body{
    background: url(https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475660_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
}

.container .navbar{
    width: 100%;
    height: 90px;
    background-color: rgba(255, 0, 0, 0.8);
    background-size: auto;
    
}

.navbar .logo{
    display: inline-block;
    margin-left: 80px;
    margin-top: 30px;
}

.container .navbar .logo img{
    position: absolute;
    height: 80px;
    top: 10px;
    left: 10px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 9px;
    line-height: 112px;
    
}

.navbar ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 10px;
    padding: 3px 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}

.container .center{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    position: absolute;
    color: white;
    font-size: 500%;
    top: -100%;
    left: -35%;
    text-align: center;
    font-weight: bold;
    text-shadow: -4px -6px red;
}

.center h2{
    color: white;
    left: -200%;
    font-size: 300%;
    margin-top: -8%;
    text-shadow: -5px -3px red;
    top: 50%;
    
}

.center .buttons{
    margin: 6% 36%;
    top: 50%;
    width: 50%;
    
}

.buttons button{
    height: 50%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: red;
    border: solid 1px rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    border-radius: 25px;
}
.içerik{
    position: absolute;
    color: white;
    font-size: 180%;
    top: 20%;
    left: 0%;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -3px red;
    background-color: rgba(0, 0, 0, 0.7);
}

.içerik .h1{
    position: absolute;
    color: white;
    font-size: 100%;
    top: -60%;
    left: 35%;
    text-align: center;
    font-weight: bold;
    text-shadow: -4px -6px red;
}

.footer {
    background-color: #1f1f1f;
    color: #fefefe;
    position: absolute;
    width: 100%;
    top: 72%;
}
  
.footer .heading {
    color: #fefefe;
    max-width: 100px;
    width: 100%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
  
.footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}
  
.footer .content p {
    margin-bottom: 1.3rem;
}
  
.footer .content a {
    text-decoration: none;
    color: #fefefe;
}
  
.footer .content a:hover {
    border-bottom: 1px solid #971717;
}
  
.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
}
  

@media (max-width: 500px) {
.footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
}
  
@media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
}
  
.footer .enalt p{
    position: absolute;
    top: 320px;
    left: 600px;
    text-align: center;
}

.kucuklogo{
  
  display: flex;
  align-items: center;
  position: fixed;
  top: 690px;
  right: 5px;
    
}
  
  .section{
    background-color: #000;
    color: #fff;
    height: 36px;
    width: 36px;
    margin: 0px 7px 0px;
    padding: 5px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(223, 223, 223, 0.9);
    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
  }
  
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    aspect-ratio: 1 / 1;
  }
  
  a{
    text-decoration: none;
  }
  
  .section::hover{
    width: 140px;
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
  }
  
  .section::after{
    content: attr(tooltip);
    margin-left: 10px;
  }
  
  .instagram:hover{
    background: #3f729b;
  }
  
  .github:hover{
    background: #00405d;
  }

  .fin {
    position: absolute;
    background-color: #1f1f1f;
    text-align: center;
    color: white;
    font-size: 30px;
    top: 18%;
    text-shadow: -2px -2px red;
  }

  .fin ol li{
    text-align: left;
  }
  
  .terim{
    position: absolute;
    background-color: #1f1f1f;
    text-align: left;
    color: white;
    font-size: 30px;
    top: 18%;
    text-shadow: -2px -2px red;
  }

  .terim h4{
    text-align: center;
    font-size: 45px;
  }

  .terim button{
    background-color: red;
    color: white;
  }

  .burger{
    display: none;
    cursor: pointer;
  }

  .burger .line1,
  .burger .line2,
  .burger .line3{
    width: 24px;
    height: 3px;
    background-color: white;
    align: right;
  }

  .burger .line2{
    margin: 3px 0px;
  }

  @media screen and (max-width: 760px){
    .burger{
      display: block;
    }
  }

  .borne{
    position: absolute;
    background-color: #1f1f1f;
    text-align: center;
    color: white;
    font-size: 30px;
    top: 18%;
    text-shadow: -2px -2px red;
  }

  .borne h3{
    text-align: center;
    font-size: 45px;

  }

  .borne button{
    color: white;
    background-color: red;
  }

  .fin button{
    background-color: red;
    color: white;
  }

.borter{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 30px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.borter h3{
    text-align: center;
    font-size: 45px;
}

.borbut button{
background-color: red;
  color: white;
}

.alsat{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  top: 18%;
  text-shadow: -2px -2px red;
  font-size: 45px;
}

.borç{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.yatırım{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.ödeme{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.kredi{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.faiz{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.tahvil{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.hissesenedi{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.alış{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.satış{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.kısapozisyon{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.uzunpozisyon{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.piyasafiyatı{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.fiyathareketleri{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.spread{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.volatilite{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.önemir{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.limitemir{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.stop-loss{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.marj{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.leveraj{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.portföy{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.derivatif{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.opsiyon{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.swap{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.fon{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}

.vadeliişlemler{
  position: absolute;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
  font-size: 45px;
  top: 18%;
  text-shadow: -2px -2px red;
}
